body{
    margin:0 0;
}
header{
    margin: 0 0;
    background-color: #021E42;
    /* para que header no se mueva con el scroll*/
    position: fixed;
    width: 100%;
    min-width: 270px;
}
div, h1, p{
    margin:0 0;
}

div.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
justify-content: space-between;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 5vw;
padding-right: 5vw;
}
.logo h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: initial;
font-size: 33px;
color:aliceblue;
padding: 5px 10px;
letter-spacing: 1.7px;

}

.logo h1 span{
    color: hsl(0, 72%, 50%);
   
}

.logo input{
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 5px 6px;
    width: 60px;
    height: 33px;
    border-radius: 20px;
    
}
.logo input::-webkit-input-placeholder{
    color:transparent
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
   padding-bottom: 20px;
}

.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    
    background-color: #FFFDFD;
    border: 3px;
     width: 90px;
     border-color: #4081db;

     border-radius: 16px;
}

button{
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
    border-color: aliceblue;
    background-color: #021E42;
    border-radius: 16px;
    min-height: 34px;
    min-width: 90px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content{
    display:block;
    
}

ul{
    list-style: none;
    text-align: initial;
    padding: 0;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 7px 5px;
   }
.dropdown-content li:hover{
    background-color:#A3BCE0;
    color: rgb(78, 78, 78);
    cursor: pointer;
 
}

.tipo{
    margin: 0px;
    padding: 0px;
    display: flex;
    
    align-items: center;
}

@media(min-width:470px) {
    div.logo{
        display: flex;
        flex-direction: row;
        align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
 }
    /*.logo{
       
        
        display: flex;
        align-items: center;
        max-height: 230px;

       justify-content: space-between;
      padding-left: 10vw;
    padding-right: 10vw;
    }*/
    .logo h1{
        font-size: 40px;
        
        
    } 
    .logo input {
        width: 30vw;
        height: 38px;
        max-width: 180px;

    }
    .logo input::-webkit-input-placeholder{
        color:#465B75;
    }
    
}

@media(min-width:800px) {

    .logo h1{
        font-size: 70px;
}

}

/*contador de pokemones***********************/
.pokemones-quantity{ 
    margin-left: auto;
    margin-right: auto;
    max-width:1100px;
    padding: 0em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 270px;
    border-top: dashed 2px #337f7b;
}
.pokemones{
    font-size: 1.5em;
    font-weight: bold;
}
#quantity{
    color: rgb(201, 39, 11);
    font-size: 1em;
}
#container-card{/**contenedor de card*/
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 1em 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pokemon-group{
    box-shadow: 0 0 9px 0 #b1aeae;
    background-color: #aaaa6f;
    padding: 1em;
    margin: 1em;
    border-radius: 0.4em;
    max-width:300px;
    min-width: 270px;
    display: grid;
    grid-template-columns: 53% 47%;
    flex-basis: 30%;
    cursor: pointer;
}
.poke-name {
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: center;
    background-color:  #4f6318;
    border-radius: 0.4em;
    color: rgb(172, 230, 154);
    margin: 0.5em;
}
.poke-num{
    margin:0;
    text-align: left;
    font-size: 0.8em;

}
.poke-img{
    height: 150px;
    text-align: center;
}

.container-info {
    border-left: solid 2px #DDDDDD;
    font-size: 14px;
    padding-left: 1em;
    height: 150px;

}
.poke-info {
    font-size: 1em;
}

.comun img{
    width: 2.5em;
}
.message-error img{
    width: 15em;
}


/* ---------------Estilos del Modal -------------- */

.modal{
	display: none;
	position: fixed;
	z-index:3;
	overflow: auto;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background: rgba(0, 0, 0, 0.452);

}
.modal-flex{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-modal{
	position: relative;
	background-color: #327ba5;
    margin: auto;
    width: 90%;
    border-radius: 0.4em;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
	animation-name: modal;
    animation-duration: 0.5s;
}